# reports:
# exclude_paths:
# - contracts/*.*

hypothesis:
  max_examples: 1
  phases:
    explicit: true
    reuse: true
    generate: true
    target: true
    shrink: true

networks:
  development:
    cmd_settings:
      accounts: 10

autofetch_sources: true
